@font-face {
  font-style: normal;
  font-family: "FiraCode";
  font-display: swap;
  src: local("FiraCode"), local("FiraCode"),
    url("../lib/FiraCode/FiraCode-Regular.woff2") format("woff2");
}

;