@font-face {
  font-style: normal;
  font-family: "CascadiaMono";
  font-display: swap;
  src: local("CascadiaMono"), local("CascadiaMono"),
    url("../lib/cascadiaMono/CascadiaMono.woff2") format("woff2");
} ;
