// Fonts
$font-family-body: "JetBrains Mono", Montserrat, sans-serif;
$font-family-mono: "JetBrains Mono", monospace;
$font-family-tt: "Inconsolata", monospace;
$font-size: 15px;
$line-height: 1.725;
$page-width: 40rem;
// Logo
$logo-width: 85px;
$logo-height: 85px;
$logo-grayout: true;
// Colors
$colors: "dark"; // white dark light classic
